<html>

<body>
    <div id="{{ id }}"></div>
    <a href="/src/modules/login.html">Авторизация</a>
    <br />
    <a href="/src/modules/signup.html">Регистрация</a>
    <br />
    <a href="/src/modules/profile.html">Профиль</a>
    <br />
    <a href="/src/modules/error500.html">Ошибка 500</a>
    <br />
    <a href="/src/modules/error404.html">Ошибка 404</a>
</body>

</html>