<html>

<head>
    <title>Добавить пользователя</title>
    {{> meta}}
</head>

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form">

                <span class="login100-form-title p-b-20">
                    Добавить пользователя
                </span>

                {{> inputField }}

                {{> button text="Очистить" class="p-t-50"}}

            </form>
        </div>
    </div>
</div>

</html>