<html>

<head>
    <title>Удалить чат с пользователем</title>
    {{> meta}}
</head>

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form">

                <span class="login100-form-title p-b-20">
                    Удалить чат с пользователем
                </span>

                {{> inputField }}

                {{> button text="Удалить" class="p-t-50"}}


            </form>
        </div>
    </div>
</div>

</html>