---
first_name: "Имя пользователя"
---
<html>

<head>
    <title>Показать профиль</title>
    {{> meta}}
</head>

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form">

                <span class="login100-form-title p-b-48">
                    <img src="/static/image-plus-outline.svg" alt="Avatar" style="width: 60px;">
                </span>

                <span class="login100-form-title p-b-20">
                    {{first_name}}
                </span>

                <div>
                    {{#each chatProfile.fields}}
                    {{>inputFieldDisabled}}
                    {{/each}}
                </div>

                <div class="text-left p-t-15">
                    <a class="txt2" href="/src/layouts/chat/clear.hbs">
                        Очистить историю
                    </a>
                </div>
                <div class="text-left p-t-15">
                    <a class="txt1" href="/src/layouts/chat/delete.hbs">
                        Удалить чат
                    </a>
                </div>

            </form>
        </div>
    </div>
</div>

</html>