<html>

<head>
    <title>Ошибка 404</title>
    {{> meta}}
</head>

<form class="login100-form">

    <div class="container-login100">
        <div>
            <span class="error-form-title p-b-20">
                404
            </span>
            <div class="text-center p-t-15">
                <p>Страница не найдена</p>
            </div>
            <div class="text-center p-t-50">
                <a class="txt2" href="">Назад к чатам</a>
            </div>
        </div>
    </div>

</form>

</html>