---
first_name: "Имя пользователя"
---
<html>

<head>
    <title>Изменить пароль</title>
    {{> meta}}


</head>

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form">

                <span class="login100-form-title p-b-48">
                    <img src="/static/image-plus-outline.svg" alt="Avatar" style="width: 60px;">
                </span>

                <div>
                    {{#each password.fields}}
                    {{>inputField}}
                    {{/each}}
                </div>

                <div class="container-login100-form-btn p-t-50">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn" type="submit">Сохранить</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

</html>