---
first_name: "Имя пользователя"
---
<html>

<head>
    <title>Профиль</title>
    {{> meta}}
</head>

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form">

                <span class="login100-form-title p-b-48">
                    <a href="/src/layouts/profile/avatarEdit.hbs"><img src="/static/image-plus-outline.svg" alt="Avatar"
                            style="width: 60px;"></a>
                </span>

                <span class="login100-form-title p-b-26">
                    {{first_name}}
                </span>

                <div>
                    {{#each profile.fields}}
                    {{>inputField}}
                    {{/each}}
                </div>

                <div class="text-left p-t-15">
                    <a class="txt2" href="/src/layouts/profile/edit.hbs">
                        Изменить данные
                    </a>
                </div>
                <div class="text-left p-t-15">
                    <a class="txt2" href="/src/layouts/profile/passwordEdit.hbs">
                        Изменить пароль
                    </a>
                </div>
                <div class="text-left p-t-15">
                    <a class="txt1" href="">
                        Выйти
                    </a>
                </div>

            </form>
        </div>
    </div>
</div>

</html>