<div class="wrap-input100 validate-input" data-validate="Заполните поле '{{this.text}}'">
    <input class="input100" type="{{this.type}}" name="{{this.name}}" disabled>
    <span class="focus-input100" data-placeholder="{{this.text}}"></span>
</div>