<div class="container-login100-form-btn {{class}}">
    <div class="wrap-login100-form-btn">
        <div class="login100-form-bgbtn"></div>
        <button class="login100-form-btn" type="submit">{{text}}</button>
    </div>
</div>