<html>

<head>
    <title>Вход</title>
    {{> meta}}
</head>

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form">

                <span class="login100-form-title p-b-26">
                    Вход
                </span>

                {{#each login.fields}}
                {{> inputField}}
                {{/each}}

                <div class="container-login100-form-btn p-t-115">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn" type="submit">Войти</button>
                    </div>
                </div>

                <div class="text-center p-t-15">
                    <a class="txt2" href="/src/layouts/signup.hbs">
                        Регистрация
                    </a>
                </div>

            </form>
        </div>
    </div>
</div>

</html>