<html>

<head>
    <title>Регистрация</title>
    {{> meta}}
</head>

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form">

                <span class="login100-form-title p-b-20">
                    Регистрация
                </span>

                <div>
                    {{#each signup.fields}}
                    {{>inputField}}
                    {{/each}}
                </div>

                {{> button text="Зарегистрироваться" class="p-t-115"}}

                <div class="text-center p-t-15">
                    <a class="txt2" href="/src/layouts/login.hbs">
                        Войти
                    </a>
                </div>

            </form>
        </div>
    </div>
</div>

</html>